* {
  box-sizing: border-box;
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-family: "Roboto", sans-serif;
  overflow: hidden;
  background-color: rgb(180, 219, 251);
}
h2 {
  font-weight: 200;
  text-align: center;
}
.form {
  background-color: rgb(207, 231, 252);
  border: 2px solid rgb(146, 193, 232);
  padding: 10px 20px 20px 20px;
  width: 30vw;
}
.form-control {
  background-color: rgb(207, 231, 252);
  border: 2px solid rgb(207, 231, 252);
  padding: 8px;
}
.form-control input,
textarea {
  width: 100%;
  padding: 5px;
  font-size: 15px;
  border: 1px solid rgb(167, 214, 252);
}
button {
  width: 100%;
  padding: 5px;
  font-size: large;
  font-weight: 200;
  background-color: rgb(168, 212, 249);
  border: 2px solid rgb(167, 214, 252);
  box-shadow: 1px 2px 2px rgb(167, 214, 252);
  cursor: pointer;
}
button:hover {
  box-shadow: 1px 2px 2px rgb(146, 193, 232);
  background-color: rgb(116, 190, 250);
}
button:active {
  transform: scale(0.95);
}
.form-control input:focus {
  outline: 0;
  border-color: rgb(142, 141, 141);
}
.form-control textarea:focus {
  outline: 0;
  border-color: rgb(142, 141, 141);
}
@media all and (max-width: 767px) {
  .container {
    width: 50vw;
  }
  body {
    font-size: small;
  }
}

@media all and (min-width: 768px) and (max-width: 1200px) {
  .container {
    width: 45vw;
  }
  body {
    font-size: normal;
  }
}
